@keyframes colorReveal {
  to {
    width: 100%;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(12px);
    opacity: 1;
  }
  50% {
    transform: translateY(25px);
    opacity: 0.3;
  }
}

@keyframes bounce_small_icon {
  0%,
  100% {
    transform: translateY(12px);
    opacity: 1;
  }
  50% {
    transform: translateY(18px);
    opacity: 0.3;
  }
}
