:root {
    
    /* π”” λ©”μΈ ν¬μΈνΈ μƒ‰μƒ */
    --main-color: #22d3ee;

    --main-rgb-color: 34 211 238;

    /* π”” μ„λΈ ν¬μΈνΈ μƒ‰μƒ */
    --secondary-color: #a855f7;

    /* π”” 3λ²μ§Έ ν¬μΈνΈ μƒ‰μƒ */
    --tertiary-color: #f472b6;

    /* π”” 4λ²μ§Έ ν¬μΈνΈ μƒ‰μƒ */
    --quaternary-color: #facc15;

    /* π”” κΈ°λ³Έ μƒ‰μƒ (μ λ©) */
    --basic-color: #ffffff;
        
    /* π”” κΈ°λ³Έ μƒ‰μƒ (μ λ© μ μ™Έ) */
    --sub-basic-color: #0a0a0a;
    
    /* π”” κΈ°λ³Έ μƒ‰μƒ (νλ¦° νμƒ‰) */
    --gray-color: #9ca3af;
    
    /* π”” λΉ¨κ°„ μƒ‰μƒ (μ λ© μ μ™Έ) */
    --red-color: #f3675c;
    
    /* π”” λ°•μ¤ λ°°κ²½μƒ‰ */
    --box-bg-color: #1a1a1a;

    /* π”” border color */
    --border-color: #1f2937;;

    /* π”” κ·Έλ¦Όμ μƒ‰ */
    --box-shadow-light-color: #d1d1d1;

}
