:root {
    
    /* 🔔 메인 포인트 색상 */
    --main-color: #22d3ee;

    --main-rgb-color: 34 211 238;

    /* 🔔 서브 포인트 색상 */
    --secondary-color: #a855f7;

    /* 🔔 3번째 포인트 색상 */
    --tertiary-color: #f472b6;

    /* 🔔 4번째 포인트 색상 */
    --quaternary-color: #facc15;

    /* 🔔 기본 색상 (제목) */
    --basic-color: #ffffff;
        
    /* 🔔 기본 색상 (제목 제외) */
    --sub-basic-color: #0a0a0a;
    
    /* 🔔 기본 색상 (흐린 회색) */
    --gray-color: #9ca3af;
    
    /* 🔔 빨간 색상 (제목 제외) */
    --red-color: #f3675c;
    
    /* 🔔 박스 배경색 */
    --box-bg-color: #1a1a1a;

    /* 🔔 border color */
    --border-color: #1f2937;;

    /* 🔔 그림자 색 */
    --box-shadow-light-color: #d1d1d1;

}
