/* 공통 */
#app {
  width: 100%;
  height: 100%;
}
svg {
  height: 1em;
}
.commonPage {
  width: 100%;
  background: #121212;
  padding-top: 89px;
  touch-action: pan-y;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

.pullPageSlide {
  height: calc(100dvh - 8.125rem);
}
.scrollPage {
  height: auto;
}

.scrollPage > *:not(.intro_section) > .page_inner {
  margin-top: 8rem;
}

.page_inner {
  display: flex;
  width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 2rem;
}
.common_trans_attr {
  transition: all 1s ease;
  transform: translateY(105%);
}
.section_slide.swiper-slide-active .common_trans_attr {
  transform: translateY(0);
}

section.section_slide {
  display: flex;
}
section .page_inner {
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.section_title_wrap {
  overflow: hidden;
}
.section_title {
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  transform: translateY(100%);
  transition: all 1s ease;
}
.section_title span {
  color: var(--main-color);
}
.section_sub_title_wrap .section_title {
  color: var(--gray-color);
  font-size: 1.125rem;
  font-weight: 400;
}
.section_slide.swiper-slide-active .section_title {
  transform: translateY(0);
}

.common_mouse_icon_wrap {
  overflow: hidden;
}
.common_mouse_icon_wrap .mouse_icon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 2rem;
  height: 3.75rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 9999px;
  box-sizing: border-box;
}
.common_mouse_icon_wrap .mouse_circle {
  position: relative;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--basic-color);
  border-radius: 50%;
  animation: bounce 3s ease-in-out infinite;
}

/* 반응형 */
@media (max-width: 1600px) {
  .page_inner {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .section_title {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .section_title {
    font-size: 2.25rem;
  }
  .section_sub_title_wrap .section_title {
    font-size: 1rem;
  }
}
