/* 공통 */
#app {
  width: 100%;
  height: 100%;
}
svg {
  height: 1em;
}
.pullPageSlide {
  width: 100%;
  height: 100%;
  background: #121212;
}
.page_inner {
  display: flex;
  width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 2rem;
}
.common_trans_attr {
  transition: all 1s ease;
  transform: translateY(105%);
}
.section_slide.swiper-slide-active .common_trans_attr {
  transform: translateY(0);
}

section.section_slide {
  display: flex;
}
section .page_inner {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_title_wrap {
  overflow: hidden;
}
.section_title {
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  transform: translateY(100%);
  transition: all 1s ease;
}
.section_title span {
  color: var(--main-color);
}
.section_sub_title_wrap {
  margin-top: 1rem;
}
.section_sub_title_wrap .section_title {
  color: var(--gray-color);
  font-size: 1.125rem;
  font-weight: 400;
}
.section_slide.swiper-slide-active .section_title {
  transform: translateY(0);
}

.common_mouse_icon_wrap {
  overflow: hidden;
}
.common_mouse_icon_wrap .mouse_icon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 2rem;
  height: 3.75rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 9999px;
  box-sizing: border-box;
}
.common_mouse_icon_wrap .mouse_circle {
  position: relative;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--basic-color);
  border-radius: 50%;
  animation: bounce 3s ease-in-out infinite;
}

/* 푸터 네비게이션 */
#footer .swiper-pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: initial;
  bottom: 0;
  margin-right: 3.5rem;
  transform: none;
  width: 120px;
  height: 40px;
  background: var(--secondary-color);
  border-radius: 6px 6px 0 0;
}

#footer .swiper-pagination:before,
#footer .swiper-pagination:after {
  content: '';
  position: absolute;
  transition: all 0.4s ease;
}
#footer .swiper-pagination:before {
  transform: translateX(-100%);
  left: 0;
  bottom: 0;
  border-top: 18px solid transparent;
  border-right: 12px solid var(--secondary-color);
  border-bottom: 18px solid var(--secondary-color);
  border-left: 12px solid transparent;
}
#footer .swiper-pagination:after {
  transform: translateX(100%);
  right: 0;
  bottom: 0;
  border-top: 18px solid transparent;
  border-left: 12px solid var(--secondary-color);
  border-bottom: 18px solid var(--secondary-color);
  border-right: 12px solid transparent;
}
#footer .swiper-pagination span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.625rem;
  height: 0.625rem;
  margin: 0;
  opacity: 1;
  background: none;
}
#footer .swiper-pagination span:after {
  content: '';
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  background: #dbc3b1;
  border-radius: 9999px;
  transition: all 0.2s ease;
}
#footer .swiper-pagination-bullet:only-child {
  display: flex !important;
}
#footer .swiper-pagination span:not(.swiper-pagination-bullet-active):hover:after {
  width: 0.625rem;
  height: 0.625rem;
}
#footer .swiper-pagination .swiper-pagination-bullet-active {
  width: 0.75rem;
  height: 0.75rem;
}
#footer .swiper-pagination .swiper-pagination-bullet-active:after {
  width: 0.75rem;
  height: 0.75rem;
  background: var(--basic-color);
}

/* contact */
.contact_section .page_inner {
  gap: 2rem;
}
.contact_section .section_title_area {
  margin: 2rem 0 4rem;
}

.contact_section .section_content_area {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 15rem;
  box-sizing: border-box;
  overflow: hidden;
}
.contact_section .section_content_area > * {
  width: 50%;
}

.contact_section .information_title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.contact_section .infomation_content_list {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  margin-bottom: 2rem;
}
.contact_section .infomation_content_list li {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}
.contact_section .infomation_content_list .list_icon {
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--main-rgb-color) / 0.1);
  border-radius: 0.5rem;
}
.contact_section .infomation_content_list .list_icon i {
  display: flex;
  font-size: 1.25rem;
  color: var(--main-color);
}
.contact_section .infomation_content_list .list_content {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}
.contact_section .infomation_content_list .list_content {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}
.contact_section .infomation_content_list .list_content p {
  font-size: 1rem;
}
.contact_section .infomation_content_list .list_content .title {
  font-weight: 600;
}
.contact_section .infomation_content_list .list_content .content {
  color: var(--gray-color);
}

.contact_section .contact_icon_list {
  display: flex;
  gap: 1rem;
}
.contact_section .contact_icon_list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #374151;
  transition: all 0.4s ease;
  cursor: pointer;
}
.contact_section .contact_icon_list li:hover {
  border: 1px solid var(--main-color);
}
.contact_section .contact_icon_list li a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.contact_section .contact_icon_list li i {
  display: flex;
  font-size: 1.25rem;
  transition: all 0.4s ease;
}
.contact_section .contact_icon_list li:hover i {
  color: var(--main-color);
}

.contact_section .contact_input_wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;
  padding: 0 1rem;
}
.contact_section .contact_input_wrap input::placeholder,
.contact_section .contact_input_wrap textarea::placeholder {
  color: var(--gray-color);
}
.contact_section .contact_input_wrap input[type='text'],
.contact_section .contact_input_wrap textarea,
.contact_section .contact_input_wrap .file_name {
  width: 100%;
  border: 1px solid var(--border-color);
  background: var(--box-bg-color);
  color: var(--basic-color);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1.25rem #000000;
  box-sizing: border-box;
}
.contact_section .contact_input_wrap input[type='text'],
.contact_section .contact_input_wrap .file_name {
  height: 3.125rem;
  padding: 0 1rem;
}
.contact_section .contact_input_wrap textarea {
  padding: 1rem;
  height: 9.375rem;
}
.contact_section .file_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.contact_section .file_wrap .file_name {
  width: 100%;
}
.contact_section .file_wrap .file_input {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.contact_section .file_wrap label {
  display: flex;
  width: 7.5rem;
  height: 100%;
  background: var(--basic-color);
  color: var(--sub-basic-color);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1.25rem #000000;
}
.contact_section .submit_btn {
  width: 100%;
  height: 3.125rem;
  background: var(--main-color);
  box-shadow: 0px 0px 1.25rem #000000;
  color: var(--sub-basic-color);
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
}
