/* 공통 */
#app {
  width: 100%;
  height: 100%;
}
svg {
  height: 1em;
}
.pullPageSlide {
  width: 100%;
  height: 100%;
  background: #121212;
}
.page_inner {
  display: flex;
  width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 2rem;
}
.common_trans_attr {
  transition: all 1s ease;
  transform: translateY(105%);
}
.section_slide.swiper-slide-active .common_trans_attr {
  transform: translateY(0);
}

section.section_slide {
  display: flex;
}
section .page_inner {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_title_wrap {
  overflow: hidden;
}
.section_title {
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  transform: translateY(100%);
  transition: all 1s ease;
}
.section_title span {
  color: var(--main-color);
}
.section_sub_title_wrap {
  margin-top: 1rem;
}
.section_sub_title_wrap .section_title {
  color: var(--gray-color);
  font-size: 1.125rem;
  font-weight: 400;
}
.section_slide.swiper-slide-active .section_title {
  transform: translateY(0);
}

.common_mouse_icon_wrap {
  overflow: hidden;
}
.common_mouse_icon_wrap .mouse_icon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 2rem;
  height: 3.75rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 9999px;
  box-sizing: border-box;
}
.common_mouse_icon_wrap .mouse_circle {
  position: relative;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--basic-color);
  border-radius: 50%;
  animation: bounce 3s ease-in-out infinite;
}

/* 푸터 네비게이션 */
#footer .swiper-pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: initial;
  bottom: 0;
  margin-right: 3.5rem;
  transform: none;
  width: 120px;
  height: 40px;
  background: var(--secondary-color);
  border-radius: 6px 6px 0 0;
}

#footer .swiper-pagination:before,
#footer .swiper-pagination:after {
  content: '';
  position: absolute;
  transition: all 0.4s ease;
}
#footer .swiper-pagination:before {
  transform: translateX(-100%);
  left: 0;
  bottom: 0;
  border-top: 18px solid transparent;
  border-right: 12px solid var(--secondary-color);
  border-bottom: 18px solid var(--secondary-color);
  border-left: 12px solid transparent;
}
#footer .swiper-pagination:after {
  transform: translateX(100%);
  right: 0;
  bottom: 0;
  border-top: 18px solid transparent;
  border-left: 12px solid var(--secondary-color);
  border-bottom: 18px solid var(--secondary-color);
  border-right: 12px solid transparent;
}
#footer .swiper-pagination span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.625rem;
  height: 0.625rem;
  margin: 0;
  opacity: 1;
  background: none;
}
#footer .swiper-pagination span:after {
  content: '';
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  background: #dbc3b1;
  border-radius: 9999px;
  transition: all 0.2s ease;
}
#footer .swiper-pagination-bullet:only-child {
  display: flex !important;
}
#footer .swiper-pagination span:not(.swiper-pagination-bullet-active):hover:after {
  width: 0.625rem;
  height: 0.625rem;
}
#footer .swiper-pagination .swiper-pagination-bullet-active {
  width: 0.75rem;
  height: 0.75rem;
}
#footer .swiper-pagination .swiper-pagination-bullet-active:after {
  width: 0.75rem;
  height: 0.75rem;
  background: var(--basic-color);
}

/* 반응형 */
@media (max-width: 1600px) {
  .page_inner {
    width: 100%;
  }
}

/* 반응형 */
@media (max-width: 1200px) {
  #footer .swiper-pagination {
    display: none;
  }
}
