/* 공통 */
svg {height: 1em;}
.page_inner {display: flex; width: 1600px; margin: 0 auto; box-sizing: border-box; padding: 0 2rem;}
.common_trans_attr { transition: all 1s ease; transform: translateY(105%); }
section.on .common_trans_attr {transform: translateY(0);}

section {background: #121212;}
section .page_inner {height: 100%; flex-direction: column; justify-content: center; align-items: center;}

.section_title_wrap {overflow: hidden;}
.section_title {width: 100%; font-size: 3rem; font-weight: 700; text-align: center; transform: translateY(100%); transition: all 1s ease;}
.section_title span {color: var(--main-color);}
.section_sub_title_wrap {margin-top: 1rem;}
.section_sub_title_wrap .section_title {color: var(--gray-color); font-size: 1.125rem; font-weight: 400;}
section.on .section_title {transform: translateY(0);}

.common_mouse_icon_wrap {overflow: hidden;}
.common_mouse_icon_wrap .mouse_icon {display: flex; justify-content: center; align-items: flex-start; width: 2rem; height: 3.75rem; border: 1px solid rgba(255,255,255, 0.4); border-radius: 9999px; box-sizing: border-box;}
.common_mouse_icon_wrap .mouse_circle {position: relative; display:block; width: 0.5rem; height: 0.5rem; background: var(--basic-color); border-radius: 50%; animation: bounce 3s ease-in-out infinite;} 

/* 헤더 */
#header {position: fixed; width: 100%; top: 0; border-bottom: 1px solid var(--border-color); z-index: 2; background-color: #0a0a0ae6; backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(4px);}
#header .page_inner {padding: 1.6rem 2rem; justify-content: space-between;}
#header .logo {font-size: 1.5rem; font-weight: 700;}
#header .logo span {color: var(--main-color);}
#header .gnb_wrap {display: flex; align-items: center; justify-content: center; gap: 60px;}

#header .gnb_wrap .gnb a {position: relative; display: flex; justify-content: center; transition: all 0.4s ease;}
#header .gnb_wrap .gnb:hover a {color: var(--main-color);}
#header .gnb_wrap .gnb.on a:after {content: ""; position: absolute; top: -10px; width: 4px; height: 4px; background: var(--main-color); border-radius: 50%;}

/* 푸터 */
#footer {position: fixed; width: 100%; height: 2.5rem; line-height: 2.5rem; bottom: 0; border-top: 1px solid var(--border-color); background-color: #0a0a0ae6;}
#footer .page_inner {justify-content: space-between;}
#footer p {color: var(--gray-color);}

/* 네비게이션 */
#fp-nav.right {position: relative; display: flex; justify-content: center; align-items: center; top:initial; bottom: 0; right: 0; margin-top: 0 !important; margin-right: 25px; width: 120px; height: 40px; background: var(--secondary-color); border-radius: 6px 6px 0 0;}
#fp-nav.right:before, #fp-nav.right:after {content: ""; position: absolute; transition: all 0.4s ease;}
#fp-nav.right:before { transform: translateX(-100%); left: 0; bottom: 0; border-top: 18px solid transparent; border-right: 12px solid var(--secondary-color); border-bottom: 18px solid var(--secondary-color); border-left: 12px solid transparent; }
#fp-nav.right:after { transform: translateX(100%); right: 0; bottom: 0; border-top: 18px solid transparent; border-left: 12px solid var(--secondary-color); border-bottom: 18px solid var(--secondary-color); border-right: 12px solid transparent; }

#fp-nav.right ul {display: flex; width: 100%; justify-content: space-around;}
#fp-nav ul li a span, .fp-slidesNav ul li a span {background: #dbc3b1;}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {background-color: var(--basic-color);}

/* intro */
.intro_section .bg_wrap {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: linear-gradient( to bottom, #0a0a0a 0%, #121212 50%, #0a0a0a 100%); opacity: 0; visibility: hidden; transition: all 0.4s ease; }
.intro_section.on .bg_wrap {opacity: 0.2; visibility: visible;}
.intro_section .bg_circle {position: absolute; width: 24rem; height: 24rem; border-radius: 50%; filter: blur(64px);}
.intro_section .left_circle {top: 8rem; left: 5rem; background-color: #06b6d4;}
.intro_section .right_circle {bottom: 5rem; right: 5rem; background-color: #a855f7;}

.intro_section .badge_icon_wrap {overflow: hidden; margin-bottom: 2rem; padding: 2px 0;}
.intro_section .badge_icon_wrap .badge_icon {color: var(--main-color); background-color: #22d3ee1a; padding: 0.6rem 1rem; border: 1px solid var(--main-color); border-radius: 9999px; box-sizing: border-box;}
.intro_section .txt_area { display: flex; flex-wrap: wrap; margin-bottom: 50px; }
.intro_section .txt_wrap {position: relative; display: flex; width: 100%; justify-content: center; overflow:hidden; text-align: center; font-size: 4.5rem; font-weight: 700;}
.intro_section .txt_wrap:last-child {margin-top: 30px;}
.intro_section .sub_intro_txt {background: linear-gradient(90deg, var(--main-color) 0%, var(--secondary-color) 100%); -webkit-background-clip: text; background-clip: text; color: transparent; -webkit-text-fill-color: transparent;}
.intro_section .intro_txt_kr {font-size: 1.25rem; font-weight: 500; color: var(--gray-color);} 
.intro_section.on .intro_txt_kr.on::after { content: attr(data-text); position: absolute; left: 0; top: 0; width: 0; color: transparent; background: linear-gradient(90deg, var(--basic-color) 0%, var(--basic-color) 100%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; overflow: hidden; white-space: nowrap; animation: colorReveal 3s steps(var(--steps)) forwards; }

.intro_section .button_wrap {display: flex; margin-bottom: 80px; gap: 20px; overflow: hidden; }
.intro_section .button_wrap a {padding: 1rem 2rem; font-weight: 600; border-radius: 0.5rem; transition: all 0.4s ease;}
.intro_section .button_wrap a:hover {background-color: var(--main-color); color: #0a0a0a;}
.intro_section .button_wrap .portfolio_btn {background-color: #67e8f9; color: #0a0a0a;}
.intro_section .button_wrap .contact_btn {border: 1px solid var(--main-color); color: var(--main-color);}

/* about */
.about_section .about_description_wrap { transition: all 1s ease; transform: translateX(-105%);}
.about_section.on .about_description_wrap {transform: translateX(0);}

.about_section .page_inner {flex-direction: row; gap: 4rem;}
.about_section .page_inner > div {display: flex; align-items: center; width: 50%; height: 100%;}
.about_section .about_description_area {overflow: hidden;}
.about_section .description_title {font-weight: 700; font-size: 3rem; margin-bottom: 1.5rem;}
.about_section .description_title span {color: var(--main-color);}
.about_section .about_description { /*height: 118px; overflow-y: auto; padding-right: 1rem;*/ margin-bottom: 2rem;}
.about_section .about_description p {margin-bottom: 1.5rem; color: var(--gray-color); font-size: 1.125rem; line-height: 1.25; word-break: keep-all;}
.about_section .description_icon_wrap {display: flex; gap: 1.5rem;}
.about_section .description_icon_wrap a {display: flex; justify-content: center; align-items: center; width: 3rem; height: 3rem; border-radius: 50%; border: 1px solid #374151; transition: all 0.4s ease;}
.about_section .description_icon_wrap a:hover {border-color: var(--main-color);}
.about_section .description_icon_wrap a:hover path {fill: var(--main-color);}

.about_section .about_card_area {overflow: hidden; padding: 0 1rem;}
.about_section .about_card_wrap {width: 100%; transform: translateX(105%); transition: all 1s ease; }
.about_section.on .about_card_wrap {transform: translateX(0);}
.about_section .about_card_bg {position: absolute; inset: 0px; transform: rotate(6deg) scaleX(1) scaleY(1); border-radius: 1rem; background: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));}
.about_section .card_item_wrap {display: flex; flex-direction: column; gap: 24px; padding: 2rem; background-color: var(--box-bg-color); border: 1px solid var(--border-color); border-radius: 1rem;}
.about_section .card_item {display: flex; align-items: center; gap: 16px;}
.about_section .card_icon {width: 30px;}
.about_section .card_icon i {display: flex; align-items: center; font-size: 1.5rem; color: var(--main-color);}
.about_section .card_content .title {font-weight: 600; font-size: 1.125rem; line-height: 1.75rem;}
.about_section .card_content .content {color: var(--gray-color); font-size: 16px;}